@import "../../global.scss";

.topbar {
  background-color: white;
  height: 60px;
  width: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: start;

  .admin {
    height: 60px;
    width: 15%;
    background-color: rgba(241, 238, 238, 0.87);
    display: flex;
    align-items: center;
    justify-content: space-around;

    .txt {
      font-weight: 700;
    }
    img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }
  }

  .notificationbar {
    margin-left: 20px;
    cursor: pointer;
  }
}
